.jumbotron,
footer {
  background-color: #38a8ff;
  color: black;
  margin: 55px 0px;
}
.carousel {
  color: black;
  margin: 55px 0px;
}
.carousel-item {
  max-height: 800px;
}
.carousel-caption {
  padding: 10px 0;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  margin: 20px auto;
}
footer {
  padding: 20px 10px;
  margin-bottom: 0px;
}
.card-hotel {
  display: flex;
  flex: 1 200px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 5px;
}
.card-hotel button {
  width: 100%;
  border-radius: 0px;
}
.tab-content {
  padding-top: 1rem;
}
.collapse-btn {
  margin: 1rem 0;
  width: 100%;
}
.accordion .btn:focus {
  box-shadow: none;
}
.accordion .btn-link {
  text-decoration: none;
}
